.App {
  text-align: center;
  background-color: black;
}

.meme span {
  position: absolute;
  width: 100%;
  left: 0px;
  margin-top: 50px;
  font-size: 38px;
  color: white;
  text-shadow: 2px 2px 2px rgb(3, 3, 3);
}

.meme .segundoTexto {
  margin-top: 400px;
}
